<h1>Pirate</h1>
<%= @pirate.name %><br>
<%= @pirate.height %><br>
<%= @pirate.weight %><br>


<h2>Ship<h2>
<% @ships.each do |ship| %>
    <%= ship.name %><br>
    <%= ship.type %><br>
    <%= ship.booty %><br>
<% end %>







